<launch>
  <include file="$(find rover_launch)/launch/visual_odom.launch"/>
  <include file="$(find rover_launch)/launch/ekf_visual_only.launch"/>
  <include file="$(find rover_launch)/launch/lidar_filtered.launch"/>
  <include file="$(find rover_launch)/launch/rtabmap.launch"/>
 <include file="$(find rover_launch)/launch/usb_cam.launch"/>

  <node pkg="aruco_detection" type="detect.py" name="aruco_detection"/>


  <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find rover_launch)/launch/rtabmap.rviz" output="screen"/>

  <arg name="model" default="$(find rover_description)/urdf/rover.urdf.xacro"/>
  <!-- <arg name="gui" default="true" /> -->
  <!-- <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" /> -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_chassis" args="0 0 0.45 0 0 0 base_link chassis_link" />


</launch> 