
<launch>
  <!-- STATIC_TRANSFORM_PUBLISHER -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 0 base_link imu_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gps" args="0 0 0 0 0 0 base_link gps_link" />

  <!-- LOCAL_EKF_LOCALIZATION -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local" clear_params="true">
    <remap from="/odometry/filtered" to="/odometry/filtered_local"/>
    <param name="frequency" value="50"/>

    <param name="world_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="publish_tf" value="true"/>


    <!-- VISUAL ODOMETRY -->
    <param name="odom0" value="/odom"/>
    <rosparam param="odom0_config">[true, true, false,
                                    false, false, true,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>
  </node>

</launch>
