<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base" args="0 0 0 0 0 0 odom imu_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_gps" args="0 0 0 0 0 0 imu_link gps" />
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 0 base_link imu_link" /> -->

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="robot_model" args="0 0 -0.5 0 0 0 rover_base_link rover_base_footprint" /> -->


  <!-- NAVSAT_TRANSFORM_NODE -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node"  respawn="true" output="screen">
    <param name="magnetic_declination_radians" value="-0.18238691"/> <!-- Toronto -0.18238691 --> <!-- Hanksville 0.18645934 -->
    <param name="publish_filtered_gps" value="true" />
    <!-- INPUT TOPICS -->
    <remap from="/gps/fix" to="/gps/fix"/>
    <remap from="/imu/data" to="/imu/data"/>
    <remap from="/odometry/filtered" to="/odometry/filtered_global"/>
    <!-- OUTPUT TOPICS -->
    <remap from="/odometry/gps" to="/odometry/filtered_gps"/>
    <remap from="/gps/filtered" to="/gps/filtered"/>
  </node>

  <!-- GLOBAL_EKF_LOCALIZATION -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" clear_params="true" respawn="true">
    <remap from="/odometry/filtered" to="/odometry/filtered_global"/>
    <param name="frequency" value="5"/>

    <param name="world_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="publish_tf" value="true"/>
    <param name="base_link_frame" value="imu_link"/>
    <param name="imu0_remove_gravitational_acceleration" value="true"/>

    <!-- IMU -->
    <param name="imu0" value="/imu/data"/>
    <rosparam param="imu0_config">[false, false, false,           <!-- position -->
                                   false, false, true,           <!-- orientation -->
                                   false, false, false,           <!-- linear vel -->
                                   false, false, false,           <!-- angular vel -->
                                   false,  false,  false]</rosparam> <!-- linear acc -->

    <!-- VISUAL ODOMETRY -->
    <!-- <param name="odom0" value="/rgbd_odometry/odom"/>
    <rosparam param="odom0_config">[true,  true,  true,
                                    true,  true,  true,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam> -->

    <!-- GPS ODOMETRY -->
    <param name="odom0" value="/odometry/filtered_gps"/>
    <rosparam param="odom0_config">[true,  true, false,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false]</rosparam>
  </node>
</launch>
