<launch>
  <arg name="port" default="/dev/ttyUSB0"/>

  <node pkg="rosserial_python" type="serial_node.py" name="imu_n_gps_node" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="500000" />
    
    <remap from="/imu/data"          to="/imu/data_nocalib"/>
    <remap from="/magnetometer/data" to="/imu/mag"/>
  </node>
  
  <node pkg="imu_calib" name="imu_calib" type="apply_calib">
      <remap from="/raw" to="/imu/data_nocalib"/>
      <remap from="/corrected" to="/imu/data_raw"/>
  </node>
  
    <node pkg="imu_filter_madgwick" name="imu_filter_madgwick" type="imu_filter_node">
      <param name="use_magnetic_field_msg" type="bool" value="true"/>
      <param name="publish_tf" type="bool" value="false"/>

    </node>
  

</launch>
