<?xml version="1.0"?>
<launch>

    <!-- <param name="use_sim_time" type="bool" value="true"/> -->

    <node type="rgbd_odometry" name="rgbd_odometry" pkg="rtabmap_odom">
        <remap from="rgb/image" to="/realsense/color/image_raw"/>
        <remap from="rgb/camera_info" to="/realsense/color/camera_info"/>
        <remap from="depth/image" to="/realsense/depth/image_rect_raw"/>
        <remap from="imu" to="/imu/data"/>
        <param name="frame_id" type="string" value="base_link"/>
        <param name="Odom/Strategy" type="string" value="0"/>
        <!--[0=Frame-to-Map (F2M) 1=Frame-to-Frame (F2F) 2=Fovis 3=viso2 4=DVO-SLAM 5=ORB_SLAM2 6=OKVIS 7=LOAM 8=MSCKF_VIO 9=VINS-Fusion 10=OpenVINS 11=FLOAM 12=Open3D]-->

        <param name="subscribe_depth" type="string" value="true"/>
        <param name="publish_tf"     type="string" value="false"/>
        <param name="approx_sync"     type="string" value="true"/>
        <param name="approx_sync_max_interval" type="string" value="0.02"/>

        <remap from="odom" to="rgbd_odometry/odom"/>


    </node> 


</launch>